<article class="post">
    <header class="post-header">
        <div class="post-meta">
            <p>
            {{#if category}}
                <span>{{category.fields.title}}</span> //
            {{/if}}
            {{#if publishedAt}}
                <span>{{date publishedAt}}</span> //
            {{else if updatedAt}}
                <span>{{date updatedAt}}</span> //
            {{/if}}
            <span class="post-comment-count"><a href="{{_fileName}}#disqus_thread">0 comments</a></span>
            </p>
        </div>
        <div class="post-title">
            <h2><a href="/{{ _fileName }}">{{ title }}</a></h2>
        </div>
    </header>
    {{#if mainMedia}}
    <div class="post-image">
        <img style="100%" src="{{mainMedia.fields.file.url}}">
    </div>
    {{/if}}
    {{#if lead}}
    <div class="post-lead">
        <p>{{lead}}</p>
    </div>
    {{else}}
    <div class="post-body" data-markdown>{{ shorten body}}</div>
    {{/if}}
    <div class="post-actions">
        <p class="post-read-more"><a href="/{{ _fileName }}">Read more</a></p>
    </div>
</article>
