<head>
	<meta charset="utf-8">

    <title>{{site.title}}{{#if title}} | {{title}}{{/if}}</title>
    <meta name="description" content="{{site.description}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title}} - RSS Feed" href="/feed.xml" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Raleway:bold|Shrikhand" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style/main.css" />

    <link rel="canonical" href="{{site.url}}" />
    <meta name="referrer" content="origin" />

    <meta property="og:site_name"    content ="{{site.title}}"      />
    <meta property="og:type"         content ="website"             />
    <meta property="og:title"        content ="{{#if title}}{{title}}{{else}}{{site.title}}{{/if}}" />
    <meta property="og:url"          content ="{{site.url}}/{{_fileName}}"        />

    <meta name="twitter:card"        content ="summary_large_image" />
    <meta name="twitter:title"       content ="{{#if title}}{{title}}{{else}}{{site.title}}{{/if}}" />
    <meta name="twitter:url"         content ="{{site.url}}/{{_fileName}}"         />

    {{#if title}}
        {{#if lead}}
            <meta name="twitter:description" content ="{{lead}}" />
            <meta property="og:description"  content ="{{lead}}" />
        {{/if}}
    {{else}}
        <meta name="twitter:description" content ="{{site.description}}" />
        <meta property="og:description"  content ="{{site.description}}" />
    {{/if}}
    {{#if mainMedia}}
        <meta property="og:image:url" content ="http:{{mainMedia.fields.file.url}}?w=600" />
        <meta name="twitter:image"    content ="http:{{mainMedia.fields.file.url}}?w=600" />
    {{else if site.image}}
        <meta property="og:image:url" content ="http:{{site.image}}?w=600" />
        <meta name="twitter:image"    content ="http:{{site.image}}?w=600" />
    {{else}}
        <meta property="og:image:url" content ="http:{{common.siteSections.items.[0].fields.photo.fields.file.url}}?w=600" />
        <meta name="twitter:image"    content ="http:{{common.siteSections.items.[0].fields.photo.fields.file.url}}?w=600" />
    {{/if}}

    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "{{site.title}}",
    "url": "{{site.url}}",
    "image": "{{#if mainMedia}}http:{{mainMedia.fields.file.url}}{{else if site.image}}{{site.image}}{{else}}http:{{common.siteSections.items.[0].fields.photo.fields.file.url}}{{/if}}",
    "description": "{{site.description}}"
}
    </script>

    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{site.url}}" />
</head>
